@use "base/variables" as v;
@use "base/mixins" as m;
@use "sass:color";

.anuncio-detalles {
    display: flex;
    flex-direction : column;
    max-width: 120rem;
    margin: 4rem auto;
    padding: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: color.adjust(v.$gris, $lightness: 1%);
    border-radius: 1rem;
    
    @include m.desktop {
        flex-direction: row;
    }
}

.imagen-libro img {
    max-width: 50rem;
    border-radius: 1rem;
    margin: 0 auto;
}

.detalles-libro {
    
    flex: 1;
    display: flex;
    flex-direction: column;

    @include m.desktop {
        padding-left: 4rem;
    }

    h2 {
        margin: 1rem 0;
        line-height: 1.3;
        align-self: flex-start;

        @include m.tablet {
            margin-top: 0;
        }
    }

    p {
        overflow-wrap: anywhere;
        line-height: 1.5;
    }

    ul li {
        margin-bottom: .8rem;
    }

    ul p.precio-libro{
        color: v.$verde;
        font-weight: v.$bold;
        font-size: 2.9rem;
    }

    button {
        align-self: normal;

        @include m.desktop {
            align-self: flex-start;
        }
    }
}